/* Estilos para la sección */
.section {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px;
    border-radius: 5px; /* Agregado: Añade bordes redondeados a la sección */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Agregado: Añade sombra a la sección */
}

/* Estilos para los encabezados de nivel 2 */
h2 {
    text-align: center;
    margin-bottom: 10px; /* Agregado: Espacio extra bajo los encabezados */
}

/* Estilos para los párrafos */
p {
    text-align: justify;
    line-height: 1.6; /* Agregado: Aumenta el espaciado entre líneas para una mejor legibilidad */
}

/* Estilos para las imágenes */
img {
    max-width: 100%; /* Modificado: Hace que las imágenes sean responsivas */
    display: block;
    margin: 0 auto;
    border-radius: 5px; /* Agregado: Añade bordes redondeados a las imágenes */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Agregado: Añade sombra a las imágenes */
}
